### Aprenderemos polar Totalmente desde cero

**POLARS**

Polars es una biblioteca de cÃ³digo abierto para la manipulaciÃ³n de datos , conocida por ser una de las soluciones de procesamiento de datos mÃ¡s rÃ¡pidas en una sola mÃ¡quina. Cuenta con una API bien estructurada y tipificada, expresiva y fÃ¡cil de usar.

**RÃ¡pido**

Polars se desarrollÃ³ desde cero pensando en el rendimiento. Su motor de consultas multihilo estÃ¡ escrito en Rust y diseÃ±ado para un paralelismo efectivo. Su procesamiento vectorizado y columnar permite algoritmos coherentes con la cachÃ© y un alto rendimiento en procesadores modernos.

**Â¿Por quÃ© usar polares?**

Polars se evaluÃ³ en una versiÃ³n derivada del benchmark independiente TPC-H frente a otras soluciones. Este benchmark busca replicar las operaciones de manipulaciÃ³n de datos utilizadas en la prÃ¡ctica. Polars supera ampliamente a otras soluciones gracias a su motor de ejecuciÃ³n en paralelo, algoritmos eficientes y el uso de vectorizaciÃ³n con SIMD (InstrucciÃ³n Ãšnica, Datos MÃºltiples). En comparaciÃ³n con Pandas, puede alcanzar mejoras de rendimiento de mÃ¡s de 30 veces.

*Â¿QuÃ© es Polars?*

Es una librerÃ­a open source para manipulaciÃ³n de datos (similar a pandas).
Fue creada en Rust (lenguaje ultrarrÃ¡pido y seguro en memoria).
Tiene bindings para Python, Rust y otros lenguajes.
EstÃ¡ diseÃ±ada para manejar datasets grandes, incluso mayores a la memoria RAM disponible.

*ğŸ”¹ Â¿Para quÃ© sirve?*

AnÃ¡lisis de datos tabulares (igual que pandas).
Procesamiento rÃ¡pido de grandes volÃºmenes de datos (Big Data en una sola mÃ¡quina).
Limpieza, transformaciÃ³n y agregaciÃ³n de datos.
Lectura y escritura eficiente en formatos como CSV, Parquet, JSON, IPC/Arrow.
Pipelines optimizados para ciencia de datos, machine learning y ETL.

**ğŸ”¹ Â¿CÃ³mo funciona?**

EstÃ¡ escrito en Rust y usa Apache Arrow como formato interno de memoria (columnar, muy eficiente).
Tiene dos modos:

Eager API â†’ como pandas, ejecuta todo inmediatamente.
Lazy API â†’ construcciÃ³n de un plan de ejecuciÃ³n que optimiza todas las operaciones antes de ejecutarlas (similar a Spark o SQL).
Esto significa que Polars optimiza automÃ¡ticamente el orden de operaciones y reduce el uso de memoria.

*ğŸ”¹ Ventajas de Polars*

âœ… Velocidad â†’ mucho mÃ¡s rÃ¡pido que pandas, especialmente con grandes datasets.
âœ… Soporte a lazy evaluation â†’ permite optimizaciÃ³n automÃ¡tica de consultas.
âœ… ParalelizaciÃ³n â†’ aprovecha todos los nÃºcleos del CPU de forma nativa.
âœ… Bajo consumo de memoria â†’ gracias al uso de Apache Arrow (columnar).
âœ… Escalabilidad â†’ puede manejar datasets mÃ¡s grandes que la memoria disponible.
âœ… Tipos de datos mÃ¡s seguros â†’ menor riesgo de errores silenciosos en conversiones.

*ğŸ”¹ Desventajas de Polars*

âš ï¸ Comunidad mÃ¡s pequeÃ±a â†’ pandas tiene muchos mÃ¡s usuarios y soporte.
âš ï¸ Menos tutoriales y recursos â†’ aunque estÃ¡ creciendo rÃ¡pido.
âš ï¸ Compatibilidad limitada â†’ algunas librerÃ­as de Python esperan pandas (ej. scikit-learn, statsmodels).
âš ï¸ Curva de aprendizaje â†’ si vienes de pandas, hay que acostumbrarse a la API de Polars.
âš ï¸ Funciones estadÃ­sticas avanzadas â†’ pandas todavÃ­a tiene mÃ¡s soporte nativo (aunque Polars mejora dÃ­a a dÃ­a).

*ğŸ”¹ Cuadro comparativo: Polars vs Pandas*

CaracterÃ­stica	Polars ğŸ¦€	Pandas ğŸ¼
Lenguaje base	Rust + Python	Python (Cython en partes)
Velocidad	Muy alta ğŸš€ (multihilo, optimizado)	Media (monohilo)
Lazy evaluation	âœ… SÃ­	âŒ No
ParalelizaciÃ³n	âœ… Nativa (usa todos los nÃºcleos)	âŒ No
Consumo de memoria	Bajo (columnares con Apache Arrow)	Alto (basado en arrays de NumPy)
Facilidad de uso	Media (API parecida a pandas, pero diferente)	Alta (muy popular y documentada)
Comunidad y ecosistema	Creciente, mÃ¡s pequeÃ±o	Muy grande, estÃ¡ndar en la industria
Compatibilidad	Limitada con otras librerÃ­as	Excelente, ampliamente soportado
Escalabilidad	Muy buena (datasets grandes, out-of-core)	Limitada (datasets deben caber en RAM)
Casos de uso	Big Data en una sola mÃ¡quina, ETL, anÃ¡lisis rÃ¡pido	AnÃ¡lisis estÃ¡ndar, prototipado, ML con scikit-learn
Curva de aprendizaje	Media (nueva API, pero intuitiva)	Baja (muy difundido y con muchos tutoriales)

**ğŸ“Œ ConclusiÃ³n:**

Si trabajas con datasets pequeÃ±os/medianos y quieres facilidad â†’ pandas ğŸ¼.
Si necesitas velocidad, datasets grandes o paralelizaciÃ³n â†’ Polars ğŸ¦€.

##### Importar la libreria de Polar

In [35]:
#realizar la importacion de la libreria de polar
# LibrerÃ­as
import os
import polars as pl
from datetime import datetime
os.chdir(r'C:\Users\monti.UNITY12\OneDrive\Documentos\CienciaDatos')

In [36]:
#Crear un dataframe
import polars as pl

# Crear un DataFrame a partir de un diccionario
data = pl.DataFrame({
    "id": [1, 2, 3, 4],
    "nombre": ["Martha", "Luis", "Ana", "Pedro"],
    'apellido':['Montiel', 'Lopez', 'Garcia', 'Mendez'],
    "edad": [19, 17, 23, 31],
    'altura':[1.56,1.70,1.67, 1.66],
    'sexo':['M', 'H','M', 'H'],
    "ciudad": ["CDMX", "Madrid", "CDMX", "Madrid"],
    'estado_civil':['casad@', 'solte@', 'casad@', 'solter@']
})
data.get_column_index('id')
data

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† altura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---    â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64    â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7    â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66   â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [37]:
#Mostrar la descripcion del dataframe
data.describe()

shape: (9, 9)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ statistic  â”† id       â”† nombre â”† apellido â”† â€¦ â”† altura   â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ ---        â”† ---      â”† ---    â”† ---      â”†   â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ str        â”† f64      â”† str    â”† str      â”†   â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ count      â”† 4.0      â”† 4      â”† 4        â”† â€¦ â”† 4.0      â”† 4    â”† 4      â”† 4            â”‚
â”‚ null_count â”† 0.0      â”† 0      â”† 0        â”† â€¦ â”† 0.0      â”† 0    â”† 0      â”† 0            â”‚
â”‚ mean       â”† 2.5      â”† null   â”† null     â”† â€¦ â”† 1.6475   â”† null â”† null   â”† null         â”‚
â”‚ std        â”† 1.290994 â”† null   â”† null     â”† â€¦ â”† 0.060759 â”† null â”† null   â”† null         â”‚
â”‚ min        â”† 1.0      â”† Ana    â”† Garcia   â”† â€¦ â”† 1.56     â”† H    â”† CDMX   â”† casad@       â”‚
â”‚ 25%        â”† 2.0      â”† null   â”† null     â”† â€¦ â”† 1.66     â”† null â”† null   â”† null         â”‚
â”‚ 50%        â”† 3.0      â”† null   â”† null     â”† â€¦ â”† 1.67     â”† null â”† null   â”† null         â”‚
â”‚ 75%        â”† 3.0      â”† null   â”† null     â”† â€¦ â”† 1.67     â”† null â”† null   â”† null         â”‚
â”‚ max        â”† 4.0      â”† Pedro  â”† Montiel  â”† â€¦ â”† 1.7      â”† M    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [38]:
data.shape #Mostrar la cantidad de filas y columnas

(4, 8)

In [39]:
data.columns #Mostrar el nombre en una listas de todas las columnas

['id',
 'nombre',
 'apellido',
 'edad',
 'altura',
 'sexo',
 'ciudad',
 'estado_civil']

In [40]:
#Mostrar el tipo de datos de cada columna.
data.dtypes

[Int64, String, String, Int64, Float64, String, String, String]

In [41]:
#Mostrar las primeras filas
data.head(2)

shape: (2, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† altura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---    â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64    â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7    â”† H    â”† Madrid â”† solte@       â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [42]:
#Mostrar las ultimas filas
data.tail(2)

shape: (2, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† altura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---    â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64    â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66   â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [43]:
#Seleccionar columnas
data['nombre']

shape: (4,)
Series: 'nombre' [str]
[
	"Martha"
	"Luis"
	"Ana"
	"Pedro"
]

In [44]:
#Seleccionar multiples columnas
data[['nombre', 'edad']]

shape: (4, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ nombre â”† edad â”‚
â”‚ ---    â”† ---  â”‚
â”‚ str    â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ Martha â”† 19   â”‚
â”‚ Luis   â”† 17   â”‚
â”‚ Ana    â”† 23   â”‚
â”‚ Pedro  â”† 31   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [68]:
#Ordenar informacion
data.sort('nombre', descending=False)

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† altura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---    â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64    â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7    â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66   â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [46]:
#Renombrar columnas
new_name = data.rename({'altura':'estatura'})
new_name

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [47]:
#Verificar la cantidad de eleemntos nulos que hay 
nulo = new_name.null_count()
nulo

shape: (1, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ u32 â”† u32    â”† u32      â”† u32  â”† u32      â”† u32  â”† u32    â”† u32          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 0   â”† 0      â”† 0        â”† 0    â”† 0        â”† 0    â”† 0      â”† 0            â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [48]:
#Eliminar datos nulos
delete_null = new_name.drop_nulls()
delete_null

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [49]:
#Eliminar columna
delete_columns = new_name.drop('sexo')
delete_columns

shape: (4, 7)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [50]:
new_name.select('nombre', 'apellido')#Permite seleccionar multiples columnas

shape: (4, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ nombre â”† apellido â”‚
â”‚ ---    â”† ---      â”‚
â”‚ str    â”† str      â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Martha â”† Montiel  â”‚
â”‚ Luis   â”† Lopez    â”‚
â”‚ Ana    â”† Garcia   â”‚
â”‚ Pedro  â”† Mendez   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**Filtrar Informacion**

In [51]:
edad_menor = new_name.filter(pl.col('edad')>=24)
edad_menor

shape: (1, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [52]:
#Filtrar y seleccionar solo algunas columnas
edad_filtrada = (new_name.filter(pl.col("edad") <= 25).select(["nombre", "edad"]))
edad_filtrada

shape: (3, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ nombre â”† edad â”‚
â”‚ ---    â”† ---  â”‚
â”‚ str    â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ Martha â”† 19   â”‚
â”‚ Luis   â”† 17   â”‚
â”‚ Ana    â”† 23   â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [53]:
#Filtrar por varias condiciones
persona_cdmx = new_name.filter((pl.col('edad')<=25) | (pl.col('ciudad')=='CDMX'))
persona_cdmx

shape: (3, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [54]:
# Reemplazar nulos en una columna
df = data.with_columns(
    pl.col("edad").fill_null(0)
)
df

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† altura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---    â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64    â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7    â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66   â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [55]:
## Reemplazar nulos en varias columnas
df = df.fill_null("desconocido")
df

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† altura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---    â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64    â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7    â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66   â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [56]:
# Eliminar filas solo si "edad" es nulo
df_sin_nulos = df.drop_nulls(subset=["edad"])
df_sin_nulos

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† altura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---    â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64    â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7    â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67   â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66   â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [57]:
#Eliminar espacios vacios
espacio_vacios = new_name.with_columns(pl.col('nombre').str.strip_chars().alias('nombre'))
espacio_vacios

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [58]:
# Reemplazar edades negativas por nulos
df = espacio_vacios.with_columns(
    pl.when(pl.col("edad") < 0)
      .then(None)
      .otherwise(pl.col("edad"))
      .alias("edad")
)
df

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [59]:
# Convertir columna edad a entero
df = espacio_vacios.with_columns(
    pl.col("edad").cast(pl.Int64)
)
df

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [60]:
#Convertir informacion mayuscula y minuscula
# Convertir ciudades a mayÃºsculas
mayuscula= espacio_vacios.with_columns(
    pl.col("ciudad").str.to_uppercase()
)
mayuscula

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† MADRID â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† MADRID â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [61]:
# Reemplazar valores especÃ­ficos de las filas
df = espacio_vacios.with_columns(
    pl.col("ciudad").replace("CDMX", "Ciudad de MÃ©xico")
)
df

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad           â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---              â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str              â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† Ciudad de MÃ©xico â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid           â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† Ciudad de MÃ©xico â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid           â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [62]:
espacio_vacios

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† nombre â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad â”† estado_civil â”‚
â”‚ --- â”† ---    â”† ---      â”† ---  â”† ---      â”† ---  â”† ---    â”† ---          â”‚
â”‚ i64 â”† str    â”† str      â”† i64  â”† f64      â”† str  â”† str    â”† str          â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† Martha â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 2   â”† Luis   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid â”† solte@       â”‚
â”‚ 3   â”† Ana    â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† CDMX   â”† casad@       â”‚
â”‚ 4   â”† Pedro  â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

**AGRUPAMIENTO DE DATOS**

In [63]:
#aprenderemos sobre agrupamiento.
grupo1 = espacio_vacios.group_by('sexo').agg(pl.col('edad').sum().alias('Suma edad'))
grupo1

shape: (2, 2)
â”Œâ”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ sexo â”† Suma edad â”‚
â”‚ ---  â”† ---       â”‚
â”‚ str  â”† i64       â”‚
â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ M    â”† 42        â”‚
â”‚ H    â”† 48        â”‚
â””â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

#### Tablas dinamicas

In [64]:
dinamica = pl.DataFrame({
    "departamento": ["IT", "IT", "HR", "HR", "Ventas", "Ventas", "IT"],
    "empleado": ["Ana", "Luis", "Pedro", "MarÃ­a", "Carlos", "SofÃ­a", "Jorge"],
    "salario": [3000, 4000, 3500, 3200, 4500, 3800, 4200],
    "aÃ±o": [2023, 2023, 2023, 2024, 2023, 2024, 2024]
})
dinamica

shape: (7, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ departamento â”† empleado â”† salario â”† aÃ±o  â”‚
â”‚ ---          â”† ---      â”† ---     â”† ---  â”‚
â”‚ str          â”† str      â”† i64     â”† i64  â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ IT           â”† Ana      â”† 3000    â”† 2023 â”‚
â”‚ IT           â”† Luis     â”† 4000    â”† 2023 â”‚
â”‚ HR           â”† Pedro    â”† 3500    â”† 2023 â”‚
â”‚ HR           â”† MarÃ­a    â”† 3200    â”† 2024 â”‚
â”‚ Ventas       â”† Carlos   â”† 4500    â”† 2023 â”‚
â”‚ Ventas       â”† SofÃ­a    â”† 3800    â”† 2024 â”‚
â”‚ IT           â”† Jorge    â”† 4200    â”† 2024 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [65]:
#Ejemplo basico Queremos una tabla dinÃ¡mica que muestre el salario promedio por departamento y aÃ±o:
tabla = dinamica.pivot(
    values="salario",
    index="departamento",
    columns="aÃ±o",
    aggregate_function="mean"
)
tabla

C:\Users\monti.UNITY12\AppData\Local\Temp\ipykernel_18188\644366183.py:2: DeprecationWarning: the argument `columns` for `DataFrame.pivot` is deprecated. It was renamed to `on` in version 1.0.0.
  tabla = dinamica.pivot(

shape: (3, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ departamento â”† 2023   â”† 2024   â”‚
â”‚ ---          â”† ---    â”† ---    â”‚
â”‚ str          â”† f64    â”† f64    â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•¡
â”‚ IT           â”† 3500.0 â”† 4200.0 â”‚
â”‚ HR           â”† 3500.0 â”† 3200.0 â”‚
â”‚ Ventas       â”† 4500.0 â”† 3800.0 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [66]:
#ejemplo 3
tabla1 = dinamica.pivot(
    values="salario",
    index="empleado",
    columns=["departamento", "aÃ±o"],
    aggregate_function="sum"
)
tabla1

C:\Users\monti.UNITY12\AppData\Local\Temp\ipykernel_18188\4213640323.py:2: DeprecationWarning: the argument `columns` for `DataFrame.pivot` is deprecated. It was renamed to `on` in version 1.0.0.
  tabla1 = dinamica.pivot(

shape: (7, 7)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ empleado â”† {"IT",2023} â”† {"HR",2023} â”† {"HR",2024} â”† {"Ventas",202 â”† {"Ventas",202 â”† {"IT",2024} â”‚
â”‚ ---      â”† ---         â”† ---         â”† ---         â”† 3}            â”† 4}            â”† ---         â”‚
â”‚ str      â”† i64         â”† i64         â”† i64         â”† ---           â”† ---           â”† i64         â”‚
â”‚          â”†             â”†             â”†             â”† i64           â”† i64           â”†             â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Ana      â”† 3000        â”† 0           â”† 0           â”† 0             â”† 0             â”† 0           â”‚
â”‚ Luis     â”† 4000        â”† 0           â”† 0           â”† 0             â”† 0             â”† 0           â”‚
â”‚ Pedro    â”† 0           â”† 3500        â”† 0           â”† 0             â”† 0             â”† 0           â”‚
â”‚ MarÃ­a    â”† 0           â”† 0           â”† 3200        â”† 0             â”† 0             â”† 0           â”‚
â”‚ Carlos   â”† 0           â”† 0           â”† 0           â”† 4500          â”† 0             â”† 0           â”‚
â”‚ SofÃ­a    â”† 0           â”† 0           â”† 0           â”† 0             â”† 3800          â”† 0           â”‚
â”‚ Jorge    â”† 0           â”† 0           â”† 0           â”† 0             â”† 0             â”† 4200        â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
#ordenar columnas
df.select(sorted(df.columns))

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”
â”‚ apellido â”† ciudad           â”† edad â”† estado_civil â”† estatura â”† id  â”† nombre â”† sexo â”‚
â”‚ ---      â”† ---              â”† ---  â”† ---          â”† ---      â”† --- â”† ---    â”† ---  â”‚
â”‚ str      â”† str              â”† i64  â”† str          â”† f64      â”† i64 â”† str    â”† str  â”‚
â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•¡
â”‚ Montiel  â”† Ciudad de MÃ©xico â”† 19   â”† casad@       â”† 1.56     â”† 1   â”† Martha â”† M    â”‚
â”‚ Lopez    â”† Madrid           â”† 17   â”† solte@       â”† 1.7      â”† 2   â”† Luis   â”† H    â”‚
â”‚ Garcia   â”† Ciudad de MÃ©xico â”† 23   â”† casad@       â”† 1.67     â”† 3   â”† Ana    â”† M    â”‚
â”‚ Mendez   â”† Madrid           â”† 31   â”† solter@      â”† 1.66     â”† 4   â”† Pedro  â”† H    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”˜

In [ ]:
#Mover una columna al inicio
cols = ["nombre"] + [c for c in df.columns if c != "nombre"]
df.select(cols)

shape: (4, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ nombre â”† id  â”† apellido â”† edad â”† estatura â”† sexo â”† ciudad           â”† estado_civil â”‚
â”‚ ---    â”† --- â”† ---      â”† ---  â”† ---      â”† ---  â”† ---              â”† ---          â”‚
â”‚ str    â”† i64 â”† str      â”† i64  â”† f64      â”† str  â”† str              â”† str          â”‚
â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Martha â”† 1   â”† Montiel  â”† 19   â”† 1.56     â”† M    â”† Ciudad de MÃ©xico â”† casad@       â”‚
â”‚ Luis   â”† 2   â”† Lopez    â”† 17   â”† 1.7      â”† H    â”† Madrid           â”† solte@       â”‚
â”‚ Ana    â”† 3   â”† Garcia   â”† 23   â”† 1.67     â”† M    â”† Ciudad de MÃ©xico â”† casad@       â”‚
â”‚ Pedro  â”† 4   â”† Mendez   â”† 31   â”† 1.66     â”† H    â”† Madrid           â”† solter@      â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜