#### Polar desde cero a avanzado.

In [40]:
#Importar la libreria de polar
import polars as pl
import matplotlib as plt
import numpy as np
import random 
import datetime

In [41]:
#Crear el dataframe
#Crear la lista de los posibles datos
nombres = ['Gael','Salome', 'Ana', 'Maria', 'Jessica', 'Patricia', 'Carolina', 'Sofia', 'Camila', 'Fernanda', 'Miguel']
apellidos = ['Lopez', 'Gongora', 'Montiel', None, 'Perez']
sexo = ['M', None, 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'F', 'M']
ciudad = ['CDMX', 'Monterrey', 'Jalisco', 'Mazatlan']
idos = ['Lopez','Gomez','Perez','Diaz','Martinez','Hernandez','Ramirez','Torres','Sanchez','Morales']
estados = ['Activo','Inactivo']
generos = ['F','F','M','M','M','F','M','M','F','F']
profesiones = ['Ingenier@','Abogad@','Doctor','Ingeniero','Contador','Profesor']
puestos = ['Analista','Gerente','Director','Supervisor','Contador','Profesor','Jefe', 'Programador']

# Función para generar fechas aleatorias
def random_date(start_year=1997, end_year=2005):
    start_date = datetime.date(start_year, 1, 1)
    end_date = datetime.date(end_year, 12, 31)
    delta = end_date - start_date
    random_days = random.randint(0, delta.days)
    return start_date + datetime.timedelta(days=random_days)

#Crear el dataframe
df = pl.DataFrame({
    'ID': range(1, 12),
    'Nombre': nombres,
    'Apellido': [random.choice(apellidos) for _ in range(11)],
    'Sexo': sexo,
    'Edad': np.random.randint(17, 24, size=11),
    'Ciudad':[random.choice(ciudad) for _ in range(11)],
    'Peso' : np.random.randint(50, 65, size=11),
    'Estatura': np.round(np.random.uniform(1.50, 1.65, size=11), 2),
    'Fecha Nacimiento': [random_date() for _ in range(11)],
    'Salario': np.random.randint(10000, 20000, size=11),
    'Estado': [random.choice(estados) for _ in range(11)],
    'Profesion': [random.choice(profesiones) for _ in range(11)],
    'Puesto': [random.choice(puestos) for _ in range(11)]
}
)
df.head(3)

shape: (3, 13)
┌─────┬────────┬──────────┬──────┬───┬─────────┬──────────┬───────────┬──────────┐
│ ID  ┆ Nombre ┆ Apellido ┆ Sexo ┆ … ┆ Salario ┆ Estado   ┆ Profesion ┆ Puesto   │
│ --- ┆ ---    ┆ ---      ┆ ---  ┆   ┆ ---     ┆ ---      ┆ ---       ┆ ---      │
│ i64 ┆ str    ┆ str      ┆ str  ┆   ┆ i32     ┆ str      ┆ str       ┆ str      │
╞═════╪════════╪══════════╪══════╪═══╪═════════╪══════════╪═══════════╪══════════╡
│ 1   ┆ Gael   ┆ Gongora  ┆ M    ┆ … ┆ 14394   ┆ Activo   ┆ Ingenier@ ┆ Analista │
│ 2   ┆ Salome ┆ Montiel  ┆ null ┆ … ┆ 12247   ┆ Activo   ┆ Abogad@   ┆ Director │
│ 3   ┆ Ana    ┆ Montiel  ┆ F    ┆ … ┆ 16079   ┆ Inactivo ┆ Profesor  ┆ Profesor │
└─────┴────────┴──────────┴──────┴───┴─────────┴──────────┴───────────┴──────────┘

In [42]:
"""def calcular_imc(peso, estatura):
    if estatura == 0:
        return None
    return round(peso / (estatura ** 2), 2)

df = df.with_columns(
    pl.struct(["Peso", "Estatura"]).map_elements(
        lambda x: calcular_imc(x["Peso"], x["Estatura"]),
        return_dtype=pl.Float64
    ).alias("IMC")
)
df"""
##Calcular la masa corporal IMC
df = df.with_columns(
    (pl.col('Peso')/(pl.col('Estatura') ** 2)).alias('IMC').round(2)
)
df.head(3)

shape: (3, 14)
┌─────┬────────┬──────────┬──────┬───┬──────────┬───────────┬──────────┬───────┐
│ ID  ┆ Nombre ┆ Apellido ┆ Sexo ┆ … ┆ Estado   ┆ Profesion ┆ Puesto   ┆ IMC   │
│ --- ┆ ---    ┆ ---      ┆ ---  ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---   │
│ i64 ┆ str    ┆ str      ┆ str  ┆   ┆ str      ┆ str       ┆ str      ┆ f64   │
╞═════╪════════╪══════════╪══════╪═══╪══════════╪═══════════╪══════════╪═══════╡
│ 1   ┆ Gael   ┆ Gongora  ┆ M    ┆ … ┆ Activo   ┆ Ingenier@ ┆ Analista ┆ 19.47 │
│ 2   ┆ Salome ┆ Montiel  ┆ null ┆ … ┆ Activo   ┆ Abogad@   ┆ Director ┆ 22.07 │
│ 3   ┆ Ana    ┆ Montiel  ┆ F    ┆ … ┆ Inactivo ┆ Profesor  ┆ Profesor ┆ 22.31 │
└─────┴────────┴──────────┴──────┴───┴──────────┴───────────┴──────────┴───────┘

In [43]:
#Ver el total de filas y columnas
df.shape

(11, 14)

In [44]:
df.dtypes #Ver el tipoo de datos,

[Int64,
 String,
 String,
 String,
 Int32,
 String,
 Int32,
 Float64,
 Date,
 Int32,
 String,
 String,
 String,
 Float64]

In [45]:
#Contar los valores nulos
df.null_count()

shape: (1, 14)
┌─────┬────────┬──────────┬──────┬───┬────────┬───────────┬────────┬─────┐
│ ID  ┆ Nombre ┆ Apellido ┆ Sexo ┆ … ┆ Estado ┆ Profesion ┆ Puesto ┆ IMC │
│ --- ┆ ---    ┆ ---      ┆ ---  ┆   ┆ ---    ┆ ---       ┆ ---    ┆ --- │
│ u32 ┆ u32    ┆ u32      ┆ u32  ┆   ┆ u32    ┆ u32       ┆ u32    ┆ u32 │
╞═════╪════════╪══════════╪══════╪═══╪════════╪═══════════╪════════╪═════╡
│ 0   ┆ 0      ┆ 1        ┆ 1    ┆ … ┆ 0      ┆ 0         ┆ 0      ┆ 0   │
└─────┴────────┴──────────┴──────┴───┴────────┴───────────┴────────┴─────┘

In [46]:
df.select([
    pl.col('Apellido').null_count().alias('Nulos')]
)

shape: (1, 1)
┌───────┐
│ Nulos │
│ ---   │
│ u32   │
╞═══════╡
│ 1     │
└───────┘

In [47]:
#eliminar filas
df.filter(pl.col("ID") != 2) 
df

shape: (11, 14)
┌─────┬──────────┬──────────┬──────┬───┬──────────┬───────────┬──────────┬───────┐
│ ID  ┆ Nombre   ┆ Apellido ┆ Sexo ┆ … ┆ Estado   ┆ Profesion ┆ Puesto   ┆ IMC   │
│ --- ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---   │
│ i64 ┆ str      ┆ str      ┆ str  ┆   ┆ str      ┆ str       ┆ str      ┆ f64   │
╞═════╪══════════╪══════════╪══════╪═══╪══════════╪═══════════╪══════════╪═══════╡
│ 1   ┆ Gael     ┆ Gongora  ┆ M    ┆ … ┆ Activo   ┆ Ingenier@ ┆ Analista ┆ 19.47 │
│ 2   ┆ Salome   ┆ Montiel  ┆ null ┆ … ┆ Activo   ┆ Abogad@   ┆ Director ┆ 22.07 │
│ 3   ┆ Ana      ┆ Montiel  ┆ F    ┆ … ┆ Inactivo ┆ Profesor  ┆ Profesor ┆ 22.31 │
│ 4   ┆ Maria    ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Analista ┆ 24.97 │
│ 5   ┆ Jessica  ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Jefe     ┆ 19.83 │
│ …   ┆ …        ┆ …        ┆ …    ┆ … ┆ …        ┆ …         ┆ …        ┆ …     │
│ 7   ┆ Carolina ┆ Perez    ┆ F    ┆ … ┆ Activo   ┆ Profesor  ┆ Gerente  ┆ 25.1  │
│ 8   ┆ Sofia    ┆ null     ┆ F    ┆ … ┆ Activo   ┆ Profesor  ┆ Profesor ┆ 21.36 │
│ 9   ┆ Camila   ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Contador ┆ 23.83 │
│ 10  ┆ Fernanda ┆ Gongora  ┆ F    ┆ … ┆ Activo   ┆ Abogad@   ┆ Gerente  ┆ 25.81 │
│ 11  ┆ Miguel   ┆ Perez    ┆ M    ┆ … ┆ Inactivo ┆ Ingenier@ ┆ Analista ┆ 21.09 │
└─────┴──────────┴──────────┴──────┴───┴──────────┴───────────┴──────────┴───────┘

In [48]:
df.select(['Nombre', 'Estado'])

shape: (11, 2)
┌──────────┬──────────┐
│ Nombre   ┆ Estado   │
│ ---      ┆ ---      │
│ str      ┆ str      │
╞══════════╪══════════╡
│ Gael     ┆ Activo   │
│ Salome   ┆ Activo   │
│ Ana      ┆ Inactivo │
│ Maria    ┆ Inactivo │
│ Jessica  ┆ Inactivo │
│ …        ┆ …        │
│ Carolina ┆ Activo   │
│ Sofia    ┆ Activo   │
│ Camila   ┆ Inactivo │
│ Fernanda ┆ Activo   │
│ Miguel   ┆ Inactivo │
└──────────┴──────────┘

In [49]:
#filtrar informacion
df.filter((df['Sexo']=='M')|(df['Ciudad'] == 'CDMX'))#Me muestra las personas que son del sexo masculino, son de CDMX

shape: (5, 14)
┌─────┬──────────┬──────────┬──────┬───┬──────────┬───────────┬──────────┬───────┐
│ ID  ┆ Nombre   ┆ Apellido ┆ Sexo ┆ … ┆ Estado   ┆ Profesion ┆ Puesto   ┆ IMC   │
│ --- ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---   │
│ i64 ┆ str      ┆ str      ┆ str  ┆   ┆ str      ┆ str       ┆ str      ┆ f64   │
╞═════╪══════════╪══════════╪══════╪═══╪══════════╪═══════════╪══════════╪═══════╡
│ 1   ┆ Gael     ┆ Gongora  ┆ M    ┆ … ┆ Activo   ┆ Ingenier@ ┆ Analista ┆ 19.47 │
│ 3   ┆ Ana      ┆ Montiel  ┆ F    ┆ … ┆ Inactivo ┆ Profesor  ┆ Profesor ┆ 22.31 │
│ 4   ┆ Maria    ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Analista ┆ 24.97 │
│ 10  ┆ Fernanda ┆ Gongora  ┆ F    ┆ … ┆ Activo   ┆ Abogad@   ┆ Gerente  ┆ 25.81 │
│ 11  ┆ Miguel   ┆ Perez    ┆ M    ┆ … ┆ Inactivo ┆ Ingenier@ ┆ Analista ┆ 21.09 │
└─────┴──────────┴──────────┴──────┴───┴──────────┴───────────┴──────────┴───────┘

In [50]:
df.filter((df["Edad"] > 21) & (df["Ciudad"] == "CDMX"))

shape: (2, 14)
┌─────┬──────────┬──────────┬──────┬───┬──────────┬───────────┬──────────┬───────┐
│ ID  ┆ Nombre   ┆ Apellido ┆ Sexo ┆ … ┆ Estado   ┆ Profesion ┆ Puesto   ┆ IMC   │
│ --- ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---   │
│ i64 ┆ str      ┆ str      ┆ str  ┆   ┆ str      ┆ str       ┆ str      ┆ f64   │
╞═════╪══════════╪══════════╪══════╪═══╪══════════╪═══════════╪══════════╪═══════╡
│ 3   ┆ Ana      ┆ Montiel  ┆ F    ┆ … ┆ Inactivo ┆ Profesor  ┆ Profesor ┆ 22.31 │
│ 10  ┆ Fernanda ┆ Gongora  ┆ F    ┆ … ┆ Activo   ┆ Abogad@   ┆ Gerente  ┆ 25.81 │
└─────┴──────────┴──────────┴──────┴───┴──────────┴───────────┴──────────┴───────┘

In [52]:
# Personas de CDMX o mazatlan
df.filter(df["Ciudad"].is_in(["CDMX", "Jalisco"]))

shape: (7, 14)
┌─────┬──────────┬──────────┬──────┬───┬──────────┬───────────┬──────────┬───────┐
│ ID  ┆ Nombre   ┆ Apellido ┆ Sexo ┆ … ┆ Estado   ┆ Profesion ┆ Puesto   ┆ IMC   │
│ --- ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---   │
│ i64 ┆ str      ┆ str      ┆ str  ┆   ┆ str      ┆ str       ┆ str      ┆ f64   │
╞═════╪══════════╪══════════╪══════╪═══╪══════════╪═══════════╪══════════╪═══════╡
│ 1   ┆ Gael     ┆ Gongora  ┆ M    ┆ … ┆ Activo   ┆ Ingenier@ ┆ Analista ┆ 19.47 │
│ 3   ┆ Ana      ┆ Montiel  ┆ F    ┆ … ┆ Inactivo ┆ Profesor  ┆ Profesor ┆ 22.31 │
│ 4   ┆ Maria    ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Analista ┆ 24.97 │
│ 5   ┆ Jessica  ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Jefe     ┆ 19.83 │
│ 8   ┆ Sofia    ┆ null     ┆ F    ┆ … ┆ Activo   ┆ Profesor  ┆ Profesor ┆ 21.36 │
│ 9   ┆ Camila   ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Contador ┆ 23.83 │
│ 10  ┆ Fernanda ┆ Gongora  ┆ F    ┆ … ┆ Activo   ┆ Abogad@   ┆ Gerente  ┆ 25.81 │
└─────┴──────────┴──────────┴──────┴───┴──────────┴───────────┴──────────┴───────┘

In [56]:
#Ordenar informacion por edad
df = df.sort('Nombre', descending=False)

shape: (11, 14)
┌─────┬──────────┬──────────┬──────┬───┬──────────┬───────────┬──────────┬───────┐
│ ID  ┆ Nombre   ┆ Apellido ┆ Sexo ┆ … ┆ Estado   ┆ Profesion ┆ Puesto   ┆ IMC   │
│ --- ┆ ---      ┆ ---      ┆ ---  ┆   ┆ ---      ┆ ---       ┆ ---      ┆ ---   │
│ i64 ┆ str      ┆ str      ┆ str  ┆   ┆ str      ┆ str       ┆ str      ┆ f64   │
╞═════╪══════════╪══════════╪══════╪═══╪══════════╪═══════════╪══════════╪═══════╡
│ 3   ┆ Ana      ┆ Montiel  ┆ F    ┆ … ┆ Inactivo ┆ Profesor  ┆ Profesor ┆ 22.31 │
│ 9   ┆ Camila   ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Contador ┆ 23.83 │
│ 7   ┆ Carolina ┆ Perez    ┆ F    ┆ … ┆ Activo   ┆ Profesor  ┆ Gerente  ┆ 25.1  │
│ 10  ┆ Fernanda ┆ Gongora  ┆ F    ┆ … ┆ Activo   ┆ Abogad@   ┆ Gerente  ┆ 25.81 │
│ 1   ┆ Gael     ┆ Gongora  ┆ M    ┆ … ┆ Activo   ┆ Ingenier@ ┆ Analista ┆ 19.47 │
│ …   ┆ …        ┆ …        ┆ …    ┆ … ┆ …        ┆ …         ┆ …        ┆ …     │
│ 4   ┆ Maria    ┆ Lopez    ┆ F    ┆ … ┆ Inactivo ┆ Contador  ┆ Analista ┆ 24.97 │
│ 11  ┆ Miguel   ┆ Perez    ┆ M    ┆ … ┆ Inactivo ┆ Ingenier@ ┆ Analista ┆ 21.09 │
│ 6   ┆ Patricia ┆ Perez    ┆ F    ┆ … ┆ Inactivo ┆ Profesor  ┆ Jefe     ┆ 22.1  │
│ 2   ┆ Salome   ┆ Montiel  ┆ null ┆ … ┆ Activo   ┆ Abogad@   ┆ Director ┆ 22.07 │
│ 8   ┆ Sofia    ┆ null     ┆ F    ┆ … ┆ Activo   ┆ Profesor  ┆ Profesor ┆ 21.36 │
└─────┴──────────┴──────────┴──────┴───┴──────────┴───────────┴──────────┴───────┘