**Pandas desde cero**

**Aprenderemos a trabajar con archivos csv, xlsx, etc.**

In [1]:
# 1. Importar pandas
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
os.chdir(r'C:\Users\monti.UNITY12\OneDrive\Documentos\CienciaDatos')
# 2. Leer el archivo Excel con ruta absoluta y motor openpyxl
archivo1 = pd.read_excel('informe.xlsx', engine='openpyxl', index_col='NUMERO FACTURA CLIENTE', parse_dates=['FECHA FACTURA CLIENTE'])
# 3. Mostrar las primeras filas para verificar
archivo1

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA CLIENTE,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
1,NaN,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-07-31,SI,PROV-005,ZONA 2,INTERNO,540.0
2,PROYECTO,CLIENTE-0005,BARCELONA,METAL,800,2021-06-02,SI,PROV-003,ZONA 2,INTERNO,360.0
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
4,PROGRAMA,CLIENTE-0007,BARCELONA,BANCA,4500,2020-03-19,SI,PROV-005,ZONA 2,INTERNO,2025.0
5,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,500,2019-11-16,SI,PROV-003,ZONA 2,INTERNO,225.0
...,...,...,...,...,...,...,...,...,...,...,...
774,EQUIPOS,CLIENTE-0001,MADRID,METAL,300,2019-01-22,NO,PROV-005,ZONA 2,INTERNO,135.0
775,PROGRAMA,CLIENTE-0002,ALICANTE,CONSTRUCCION,120,2021-05-04,NO,PROV-003,ZONA 2,INTERNO,54.0
776,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,150,2020-03-30,NO,PROV-005,ZONA 2,INTERNO,67.5
777,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-03-05,NO,PROV-005,ZONA 2,INTERNO,540.0
778,DESARROLLO,CLIENTE-0005,BARCELONA,METAL,800,2021-03-11,SI,PROV-003,ZONA 2,INTERNO,360.0

In [84]:
#Mostrar todo el documento
#"pd.set_option('display.max_rows', 778) 
#archivo1

In [85]:
#listado de todas las columnas que tiene el archivo
archivo1.columns

Index(['CONCEPTO', 'CLIENTE', 'PROVINCIA', 'SECTOR', 'IMPORTE CLIENTE',
       'FECHA FACTURA CLIENTE', 'PAGADA CLIENTE', 'PROVEEDOR', 'ZONA', 'TIPO',
       'IMPORTE PROVEEDOR'],
      dtype='object')

In [86]:
archivo1.describe()#Ver la descripcion

       IMPORTE CLIENTE          FECHA FACTURA CLIENTE  IMPORTE PROVEEDOR
count       778.000000                            778         778.000000
mean       1507.185090  2020-06-21 04:19:07.557840640         498.512853
min         120.000000            2019-01-02 00:00:00          30.000000
25%         300.000000            2019-09-09 18:00:00          80.000000
50%         680.000000            2020-06-25 00:00:00         200.000000
75%        1200.000000            2021-03-22 18:00:00         375.000000
max        8500.000000            2021-12-29 00:00:00        3825.000000
std        2237.602175                            NaN         774.905154

In [87]:
#Ver el tipo de datos de cada columna
archivo1.dtypes

CONCEPTO                         object
CLIENTE                          object
PROVINCIA                        object
SECTOR                           object
IMPORTE CLIENTE                   int64
FECHA FACTURA CLIENTE    datetime64[ns]
PAGADA CLIENTE                   object
PROVEEDOR                        object
ZONA                             object
TIPO                             object
IMPORTE PROVEEDOR               float64
dtype: object

In [88]:
#Ver el tamaÃ±o
archivo1.size

8558

In [89]:
#Cantidad de columnas y filas
archivo1.shape

(778, 11)

In [90]:
archivo1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 778 entries, 1 to 778
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CONCEPTO               777 non-null    object
 1   CLIENTE                778 non-null    object
 2   PROVINCIA              778 non-null    object
 3   SECTOR                 778 non-null    object
 4   IMPORTE CLIENTE        778 non-null    int64
 5   FECHA FACTURA CLIENTE  778 non-null    datetime64[ns]
 6   PAGADA CLIENTE         778 non-null    object
 7   PROVEEDOR              778 non-null    object
 8   ZONA                   778 non-null    object
 9   TIPO                   778 non-null    object
 10  IMPORTE PROVEEDOR      778 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 72.9+ KB

In [91]:
#Obtener las primeras filas{}
archivo1.head(3)

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA CLIENTE,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
1,NaN,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-07-31,SI,PROV-005,ZONA 2,INTERNO,540.0
2,PROYECTO,CLIENTE-0005,BARCELONA,METAL,800,2021-06-02,SI,PROV-003,ZONA 2,INTERNO,360.0
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5

In [92]:
#Obtener las ultimas filas{}
archivo1.tail(3)

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA CLIENTE,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
776,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,150,2020-03-30,NO,PROV-005,ZONA 2,INTERNO,67.5
777,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-03-05,NO,PROV-005,ZONA 2,INTERNO,540.0
778,DESARROLLO,CLIENTE-0005,BARCELONA,METAL,800,2021-03-11,SI,PROV-003,ZONA 2,INTERNO,360.0

In [93]:
#Eliminar filas duplicadas
archivo1.drop_duplicates()
archivo1

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA CLIENTE,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
1,NaN,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-07-31,SI,PROV-005,ZONA 2,INTERNO,540.0
2,PROYECTO,CLIENTE-0005,BARCELONA,METAL,800,2021-06-02,SI,PROV-003,ZONA 2,INTERNO,360.0
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
4,PROGRAMA,CLIENTE-0007,BARCELONA,BANCA,4500,2020-03-19,SI,PROV-005,ZONA 2,INTERNO,2025.0
5,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,500,2019-11-16,SI,PROV-003,ZONA 2,INTERNO,225.0
...,...,...,...,...,...,...,...,...,...,...,...
774,EQUIPOS,CLIENTE-0001,MADRID,METAL,300,2019-01-22,NO,PROV-005,ZONA 2,INTERNO,135.0
775,PROGRAMA,CLIENTE-0002,ALICANTE,CONSTRUCCION,120,2021-05-04,NO,PROV-003,ZONA 2,INTERNO,54.0
776,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,150,2020-03-30,NO,PROV-005,ZONA 2,INTERNO,67.5
777,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-03-05,NO,PROV-005,ZONA 2,INTERNO,540.0
778,DESARROLLO,CLIENTE-0005,BARCELONA,METAL,800,2021-03-11,SI,PROV-003,ZONA 2,INTERNO,360.0

In [94]:
#eliminar filas vacias
archivo1.dropna(inplace=True) #Modificar el archivo original
archivo1

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA CLIENTE,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
2,PROYECTO,CLIENTE-0005,BARCELONA,METAL,800,2021-06-02,SI,PROV-003,ZONA 2,INTERNO,360.0
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
4,PROGRAMA,CLIENTE-0007,BARCELONA,BANCA,4500,2020-03-19,SI,PROV-005,ZONA 2,INTERNO,2025.0
5,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,500,2019-11-16,SI,PROV-003,ZONA 2,INTERNO,225.0
6,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,750,2019-02-18,SI,PROV-005,ZONA 2,INTERNO,337.5
...,...,...,...,...,...,...,...,...,...,...,...
774,EQUIPOS,CLIENTE-0001,MADRID,METAL,300,2019-01-22,NO,PROV-005,ZONA 2,INTERNO,135.0
775,PROGRAMA,CLIENTE-0002,ALICANTE,CONSTRUCCION,120,2021-05-04,NO,PROV-003,ZONA 2,INTERNO,54.0
776,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,150,2020-03-30,NO,PROV-005,ZONA 2,INTERNO,67.5
777,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-03-05,NO,PROV-005,ZONA 2,INTERNO,540.0
778,DESARROLLO,CLIENTE-0005,BARCELONA,METAL,800,2021-03-11,SI,PROV-003,ZONA 2,INTERNO,360.0

In [95]:
#Rellenar filas con datos vacios con valores por defectos
archivo1.fillna(0)
archivo1

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA CLIENTE,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
2,PROYECTO,CLIENTE-0005,BARCELONA,METAL,800,2021-06-02,SI,PROV-003,ZONA 2,INTERNO,360.0
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
4,PROGRAMA,CLIENTE-0007,BARCELONA,BANCA,4500,2020-03-19,SI,PROV-005,ZONA 2,INTERNO,2025.0
5,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,500,2019-11-16,SI,PROV-003,ZONA 2,INTERNO,225.0
6,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,750,2019-02-18,SI,PROV-005,ZONA 2,INTERNO,337.5
...,...,...,...,...,...,...,...,...,...,...,...
774,EQUIPOS,CLIENTE-0001,MADRID,METAL,300,2019-01-22,NO,PROV-005,ZONA 2,INTERNO,135.0
775,PROGRAMA,CLIENTE-0002,ALICANTE,CONSTRUCCION,120,2021-05-04,NO,PROV-003,ZONA 2,INTERNO,54.0
776,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,150,2020-03-30,NO,PROV-005,ZONA 2,INTERNO,67.5
777,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-03-05,NO,PROV-005,ZONA 2,INTERNO,540.0
778,DESARROLLO,CLIENTE-0005,BARCELONA,METAL,800,2021-03-11,SI,PROV-003,ZONA 2,INTERNO,360.0

In [96]:
#contar cuantos valores nulos hay en cada columna
archivo1.isnull().sum() #   No tenemos valores nulos

CONCEPTO                 0
CLIENTE                  0
PROVINCIA                0
SECTOR                   0
IMPORTE CLIENTE          0
FECHA FACTURA CLIENTE    0
PAGADA CLIENTE           0
PROVEEDOR                0
ZONA                     0
TIPO                     0
IMPORTE PROVEEDOR        0
dtype: int64

In [97]:
#Cambiar el nombre de una columna
archivo1.rename(columns={'FECHA FACTURA CLIENTE':'FECHA FACTURA'}, inplace=True)
archivo1

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
2,PROYECTO,CLIENTE-0005,BARCELONA,METAL,800,2021-06-02,SI,PROV-003,ZONA 2,INTERNO,360.0
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
4,PROGRAMA,CLIENTE-0007,BARCELONA,BANCA,4500,2020-03-19,SI,PROV-005,ZONA 2,INTERNO,2025.0
5,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,500,2019-11-16,SI,PROV-003,ZONA 2,INTERNO,225.0
6,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,750,2019-02-18,SI,PROV-005,ZONA 2,INTERNO,337.5
...,...,...,...,...,...,...,...,...,...,...,...
774,EQUIPOS,CLIENTE-0001,MADRID,METAL,300,2019-01-22,NO,PROV-005,ZONA 2,INTERNO,135.0
775,PROGRAMA,CLIENTE-0002,ALICANTE,CONSTRUCCION,120,2021-05-04,NO,PROV-003,ZONA 2,INTERNO,54.0
776,FORMACION,CLIENTE-0003,MADRID,CONSTRUCCION,150,2020-03-30,NO,PROV-005,ZONA 2,INTERNO,67.5
777,CONSULTORIA,CLIENTE-0004,MADRID,CONSTRUCCION,1200,2019-03-05,NO,PROV-005,ZONA 2,INTERNO,540.0
778,DESARROLLO,CLIENTE-0005,BARCELONA,METAL,800,2021-03-11,SI,PROV-003,ZONA 2,INTERNO,360.0

In [98]:
#filtrar filas por indices
archivo1.iloc[1:3]

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
4,PROGRAMA,CLIENTE-0007,BARCELONA,BANCA,4500,2020-03-19,SI,PROV-005,ZONA 2,INTERNO,2025.0

In [99]:
#Filtrar filas por posiciones y columnas por posiciones
archivo1.iloc[[0,1,2,3],[0]]

                         CONCEPTO
NUMERO FACTURA CLIENTE
2                        PROYECTO
3                         EQUIPOS
4                        PROGRAMA
5                       FORMACION

In [101]:
#Filtrar filas y columnas deseadas
archivo1.iloc[[0,3]][['CONCEPTO','CLIENTE', 'IMPORTE CLIENTE']]

                         CONCEPTO       CLIENTE  IMPORTE CLIENTE
NUMERO FACTURA CLIENTE
2                        PROYECTO  CLIENTE-0005              800
5                       FORMACION  CLIENTE-0003              500

**Vamos aprender agrupar datos**

In [109]:
#Crear mi nuevo grupo
grupo1 = archivo1.groupby('PROVINCIA')[['IMPORTE CLIENTE','IMPORTE PROVEEDOR']].mean().reset_index()
grupo1

   PROVINCIA  IMPORTE CLIENTE  IMPORTE PROVEEDOR
0   ALICANTE      1866.761364         602.167614
1  BARCELONA      1231.232394         419.385563
2     MADRID      1555.741325         511.722397

In [111]:
#Filtrar informacion de grupos de una sola columna
grupo_columns = archivo1.groupby('CONCEPTO').get_group('EQUIPOS')
grupo_columns

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
9,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,950,2021-12-24,SI,PROV-005,ZONA 2,INTERNO,427.5
15,EQUIPOS,CLIENTE-0010,MADRID,BANCA,300,2019-02-21,NO,PROV-003,ZONA 2,INTERNO,135.0
19,EQUIPOS,CLIENTE-0004,MADRID,CONSTRUCCION,300,2019-12-01,NO,PROV-005,ZONA 2,INTERNO,135.0
25,EQUIPOS,CLIENTE-0010,MADRID,BANCA,800,2019-03-28,SI,PROV-002,ZONA 1,EXTERNO,360.0
...,...,...,...,...,...,...,...,...,...,...,...
755,EQUIPOS,CLIENTE-0002,ALICANTE,CONSTRUCCION,8500,2020-03-07,NO,PROV-004,ZONA 1,EXTERNO,3400.0
758,EQUIPOS,CLIENTE-0005,BARCELONA,METAL,200,2020-02-08,NO,PROV-005,ZONA 2,INTERNO,80.0
764,EQUIPOS,CLIENTE-0004,MADRID,CONSTRUCCION,120,2020-01-24,SI,PROV-005,ZONA 2,INTERNO,54.0
768,EQUIPOS,CLIENTE-0007,BARCELONA,BANCA,300,2021-03-17,SI,PROV-001,ZONA 1,EXTERNO,135.0
774,EQUIPOS,CLIENTE-0001,MADRID,METAL,300,2019-01-22,NO,PROV-005,ZONA 2,INTERNO,135.0

In [116]:
#Mostrar informacion por grupos
info_group = archivo1.groupby('PROVINCIA').groups.items()
info_group

dict_items([('ALICANTE', Index([ 11,  12,  17,  23,  24,  31,  32,  37,  43,  44,
       ...
       733, 740, 749, 750, 755, 761, 762, 769, 770, 775],
      dtype='int64', name='NUMERO FACTURA CLIENTE', length=176)), ('BARCELONA', Index([  2,   3,   4,   7,   8,   9,  10,  20,  21,  22,
       ...
       747, 748, 758, 759, 760, 765, 766, 767, 768, 778],
      dtype='int64', name='NUMERO FACTURA CLIENTE', length=284)), ('MADRID', Index([  5,   6,  13,  14,  15,  16,  18,  19,  25,  26,
       ...
       756, 757, 763, 764, 771, 772, 773, 774, 776, 777],
      dtype='int64', name='NUMERO FACTURA CLIENTE', length=317))])

In [117]:
#Filtrar informacion por cadenas de textos que contengas palabras coincidentes
archivo1[archivo1['CONCEPTO'].str.contains('EQUIP')]

,CONCEPTO,CLIENTE,PROVINCIA,SECTOR,IMPORTE CLIENTE,FECHA FACTURA,PAGADA CLIENTE,PROVEEDOR,ZONA,TIPO,IMPORTE PROVEEDOR
NUMERO FACTURA CLIENTE,,,,,,,,,,,
3,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,750,2020-04-13,SI,PROV-005,ZONA 2,INTERNO,337.5
9,EQUIPOS,CLIENTE-0006,BARCELONA,BANCA,950,2021-12-24,SI,PROV-005,ZONA 2,INTERNO,427.5
15,EQUIPOS,CLIENTE-0010,MADRID,BANCA,300,2019-02-21,NO,PROV-003,ZONA 2,INTERNO,135.0
19,EQUIPOS,CLIENTE-0004,MADRID,CONSTRUCCION,300,2019-12-01,NO,PROV-005,ZONA 2,INTERNO,135.0
25,EQUIPOS,CLIENTE-0010,MADRID,BANCA,800,2019-03-28,SI,PROV-002,ZONA 1,EXTERNO,360.0
...,...,...,...,...,...,...,...,...,...,...,...
755,EQUIPOS,CLIENTE-0002,ALICANTE,CONSTRUCCION,8500,2020-03-07,NO,PROV-004,ZONA 1,EXTERNO,3400.0
758,EQUIPOS,CLIENTE-0005,BARCELONA,METAL,200,2020-02-08,NO,PROV-005,ZONA 2,INTERNO,80.0
764,EQUIPOS,CLIENTE-0004,MADRID,CONSTRUCCION,120,2020-01-24,SI,PROV-005,ZONA 2,INTERNO,54.0
768,EQUIPOS,CLIENTE-0007,BARCELONA,BANCA,300,2021-03-17,SI,PROV-001,ZONA 1,EXTERNO,135.0
774,EQUIPOS,CLIENTE-0001,MADRID,METAL,300,2019-01-22,NO,PROV-005,ZONA 2,INTERNO,135.0

**Crearcion de tablas dinamicas**

In [121]:
#Mi primer tabla dinamica
tabla1 = archivo1.pivot_table(
    index='PROVINCIA',
    values=['IMPORTE CLIENTE','IMPORTE PROVEEDOR'],
    aggfunc=['sum']
)

tabla1

                      sum
          IMPORTE CLIENTE IMPORTE PROVEEDOR
PROVINCIA
ALICANTE           328550          105981.5
BARCELONA          349670          119105.5
MADRID             493170          162216.0