*Aprenderemos acerca de como trabajar con series en pandas*

In [1]:
#Importar pandas
import pandas as pd
#Crear una serie
Alumno = ['Mateo', 'Ana', 'Sofia', 'Brenda']
#Materia =['Python', 'Java', 'C++', 'Css']
Calificacion = [10, 9, 6, 7]
#Convertirlo a una serie
dat = pd.Series(Calificacion, index=Alumno, name='Calificacion')
#serie = pd.Series([1, 2, 3, 4, 5])#Fomra 1 de crear una serie
#Imprime la serie
dat

Mateo     10
Ana        9
Sofia      6
Brenda     7
Name: Calificacion, dtype: int64

In [2]:
#Acceder a elementos de la serie
dat[0:2]

Mateo    10
Ana       9
Name: Calificacion, dtype: int64

In [3]:
#Descripcion de la seria
dat.describe

<bound method NDFrame.describe of Mateo     10
Ana        9
Sofia      6
Brenda     7
Name: Calificacion, dtype: int64>

In [6]:
#Mostrar filas y columnas
dat.shape

(4,)

In [16]:
#Crear serie con diccionario
dat2 = pd.Series({'Mateo':10, 'Ana':9, 'Sofia':6})
dat2.to_frame(name='Nombre')

       Nombre
Mateo      10
Ana         9
Sofia       6

In [15]:
#Crear serie con lista
list1 = pd.Series([1,2,3], index=['a','b','c'])
#Convertir la lista a un dataframe
df = pd.DataFrame(list1, columns=['Numeros'])
df

   Numeros
a        1
b        2
c        3